<section class="discount-products" id="discount-products">
  <div class="discount-container">
    <h2 class="discount-title">Discount products</h2>
    <ul class="discount-list">
      <li class="discount-item">
        <div class="discount-photo-container">
          <img
            class="discount-img"
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt=""
            width="114"
            height="114"
          />
          <svg class="discount-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-discount"></use>
          </svg>
        </div>

        <div class="discount-info-container">
          <h3 class="discount-product-name">Apricot</h3>
          <p class="discount-product-price">$0.79</p>
          <button type="button" class="discount-btn">
            <svg class="discount-button-icon-cart" width="18" height="18">
              <use href="./img/icons.svg#icon-shopping-cart"></use>
            </svg>
            <svg class="discount-button-icon-check" width="18" height="18">
              <use href="./img/icons.svg#icon-check"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="discount-item">
        <div class="discount-photo-container">
          <img
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt=""
            width="114"
            height="114"
          />
          <svg class="discount-icon" width="32" height="32">
            <use href="./img/icons.svg#icon-discount"></use>
          </svg>
        </div>

        <div class="discount-info-container">
          <h3 class="discount-product-name">Apricot</h3>
          <p class="discount-product-price">$6.99</p>
          <button type="button" class="discount-btn">
            <svg class="discount-button-icon-cart" width="18" height="18">
              <use href="./img/icons.svg#icon-shopping-cart"></use>
            </svg>
            <svg class="discount-button-icon-check" width="18" height="18">
              <use href="./img/icons.svg#icon-check"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
