<section class="filters" id="filters">
  <div class="container">
    <h2 class="title-filter">Filters:</h2>
    <form class="search-form">
      <div class="input-container">
        <div class="search-form">
          <input
            type="text"
            class="input-modal-subscribe"
            placeholder="Search for anything"
            id="search-item"
          />
        </div>
        <svg
          width="20"
          height="20"
          class="icon-search container-search-everything"
          id="search-icon"
        >
          <use href="./img/icons.svg#icon-search"></use>
        </svg>
      </div>
      <div class="select-menu-category">
        <div class="select-btn-custom" id="category">
          <span class="sBtn-text-select">Categories</span>
          <svg
            width="20"
            height="20"
            class="icon-arrow-down container-arrow-category"
          >
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <ul class="options" id="options"></ul>
      </div>
      <div class="select-menu" id="sort">
        <div class="select-btn">
          <span class="sBtn-text">A to Z</span>
          <svg width="20" height="20" class="icon-arrow-down container-arrow">
            <use href="./img/icons.svg#icon-arrow-down"></use>
          </svg>
        </div>
        <ul class="options">
          <li class="option" data-select-1>
            <span class="option-text">A to Z</span>
          </li>
          <li class="option" data-select-2>
            <span class="option-text">Z to A</span>
          </li>
          <li class="option" data-select-3>
            <span class="option-text">Less than 10$</span>
          </li>
          <li class="option" data-select-4>
            <span class="option-text">Greater than 10$</span>
          </li>
          <li class="option" data-select-5>
            <span class="option-text">Popular</span>
          </li>
          <li class="option" data-select-6>
            <span class="option-text">Not Popular</span>
          </li>
          <li class="option" data-select-7>
            <span class="option-text">Show All</span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</section>
