<section class="filters" id="filters">
  <div class="container">
    <h2 class="title-filter">Filters:</h2>
    <form class="search-form">
      <div class="input-container">
        <div class="search-form">
          <input
            type="text"
            class="input-modal-subscribe"
            placeholder="Search for anything"
          />
        </div>
        <div class="container-search-everything">
          <svg width="20" height="20" class="icon-search">
            <use href="./img/icons.svg#icon-search"></use>
          </svg>
        </div>
      </div>
      <div class="select-menu-category">
        <div class="select-btn-custom">
          <span class="sBtn-text-select">Categories</span>
          <div class="container-arrow-category">
            <svg width="20" height="20" class="icon-arrow-down">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <ul class="options">
          <li class="option-category" value="data-option-1">
            <span class="option-text">Test1</span>
          </li>
          <li class="option-category" value="data-option-2">
            <span class="option-text">Test2</span>
          </li>
          <li class="option-category" value="data-option-3">
            <span class="option-text">Test3</span>
          </li>
          <li class="option-category" value="data-option-4">
            <span class="option-text">Test4</span>
          </li>
          <li class="option-category" value="data-option-5">
            <span class="option-text">Test5</span>
          </li>
          <li class="option-category" value="data-option-6">
            <span class="option-text">Test6</span>
          </li>
          <li class="option-category" value="data-option-7">
            <span class="option-text">Test7</span>
          </li>
        </ul>
      </div>
      <div class="select-menu" id="sort">
        <div class="select-btn">
          <span class="sBtn-text">A to Z</span>
          <div class="container-arrow">
            <svg width="20" height="20" class="icon-arrow-down">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
        </div>
        <ul class="options">
          <li class="option" value="data-select-1">
            <span class="option-text">A to Z</span>
          </li>
          <li class="option" value="data-select-2">
            <span class="option-text">Z to A</span>
          </li>
          <li class="option" value="data-select-3">
            <span class="option-text">Less than 10$</span>
          </li>
          <li class="option" value="data-select-4">
            <span class="option-text">Greater than 10$</span>
          </li>
          <li class="option" value="data-select-5">
            <span class="option-text">Popular</span>
          </li>
          <li class="option" value="data-select-6">
            <span class="option-text">Not Popular</span>
          </li>
          <li class="option" value="data-select-7">
            <span class="option-text">Show All</span>
          </li>
        </ul>
      </div>
    </form>
  </div>
</section>
