<div class="modal-background is-hidden">
    <div class="modal">
        <button type="button" class="close_btn">
            <svg class="icon-close" width="28" height="28">
            <use href="./img/icons.svg#icon-x-close"></use>
        </svg></button>
        <div class="container-modal">
            <img class="img-frame"  src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"  alt="" />
       
        <div class="modal-product-info">
                <h2 class="modal_title">Pumpkin</h2>
                <table class="modal-details">
                    <tr>
                        <td class="modal-subtitle">Category:</td>
                        <td class="modal-subtitle-info">Fresh Produce</td>
                    </tr>
                    <tr>
                        <td class="modal-subtitle">Size:</td>
                        <td class="modal-subtitle-info">1 medium-sized</td>
                    </tr>
                    <tr>
                        <td class="modal-subtitle">Popularity:</td>
                        <td class="modal-subtitle-info">0</td>
                    </tr>
                </table>
                <p class="about-product">
                    A round, orange vegetable with a thick shell and seeds inside. 
                    It is often used in cooking and baking for its sweet and earthy flavor
                </p>
                </div>
                </div>
               <div class="price-container">
                <p class="price-product">$2.99</p>
        <button class="btn">Add to<svg class="icon-shop" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg></button>
    </div>
       
    </div>
</div>