<div class="modal-background" id = "productModal">
  <div class="modal">
    <button type="button" class="modal-close-btn">
      <svg class="modal-icon-close" width="22" height="22">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="modal-container">
      <div>
        <div class="modal-img">
          <img
            src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e383b.png"
            alt=""
          />
        </div>
      </div>
      <div class="modal-product-info">
        <h2 class="modal-title">Pumpkin</h2>
        <div class="modal-details">
          <div>
            <span class="modal-subtitle">Category:</span>
            <span class="modal-subtitle-info" id="category">Fresh Produce</span>
          </div>
          <div>
            <span class="modal-subtitle">Size:</span>
            <span class="modal-subtitle-info" id="size">1 medium-sized</span>
          </div>
          <div>
            <span class="modal-subtitle">Popularity:</span>
            <span class="modal-subtitle-info" id="popularity">0</span>
          </div>
        </div>
        <p class="modal-about-product">
          A round, orange vegetable with a thick shell and seeds inside. It is
          often used in cooking and baking for its sweet and earthy flavor
        </p>
      </div>
    </div>
    <div class="modal-price-container">
      <p class="modal-price-product">$2.99</p>
      <button class="modal-btn">
        Add to<svg class="modal-icon-shop" width="18" height="18">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
