<section class="popular-products" id="popular-products">
    <h2 class="popular-products-section-title">Popular products</h2>
  <ul class="popular-products-list list">
    <li class="popular-products-item">
      <div class="popular-products-img-container">
        <img class="img" src="" alt="" width="56" height="56" />
      </div>

      <div>
        <h3 class="popular-products-name">Askee</h3>
        <div class="popular-products-description-container">
          <h4 class="popular-products-description">
            Category:
            <span class="category popular-description">Fresh Produce</span>
          </h4>

          <h4 class="popular-products-description">
            Size:
            <span class="size popular-description">16 oz</span>
          </h4>

          <h4 class="popular-products-description">
            Popularity:
            <span class="popularity popular-description">3</span>
          </h4>
        </div>
      </div>
      <button class="basket-button" type="button">
        <svg class="popular-products-cart-icon" width="12" height="12">
          <use href=""></use>
        </svg>
      </button>
    </li>
    <li class="popular-products-item">
    <div class="popular-products-img-container">
        <img class="img" src="" alt="" width="56" height="56" />
    </div>
    
    <div>
        <h3 class="popular-products-name">Askee</h3>
        <div class="popular-products-description-container">
            <h4 class="popular-products-description">
                Category:
                <span class="category popular-description">Fresh Produce</span>
            </h4>
    
            <h4 class="popular-products-description">
                Size:
                <span class="size popular-description">16 oz</span>
            </h4>
    
            <h4 class="popular-products-description">
                Popularity:
                <span class="popularity popular-description">3</span>
            </h4>
        </div>
    </div>
    <button class="basket-button" type="button">
        <svg class="popular-products-cart-icon" width="12" height="12">
            <use href=""></use>
        </svg>
    </button>
    </li>
    <li class="popular-products-item">
    <div class="popular-products-img-container">
        <img class="img" src="" alt="" width="56" height="56" />
    </div>
    
    <div>
        <h3 class="popular-products-name">Askee</h3>
        <div class="popular-products-description-container">
            <h4 class="popular-products-description">
                Category:
                <span class="category popular-description">Fresh Produce</span>
            </h4>
    
            <h4 class="popular-products-description">
                Size:
                <span class="size popular-description">16 oz</span>
            </h4>
    
            <h4 class="popular-products-description">
                Popularity:
                <span class="popularity popular-description">3</span>
            </h4>
        </div>
    </div>
    <button class="basket-button" type="button">
        <svg class="popular-products-cart-icon" width="12" height="12">
            <use href=""></use>
        </svg>
    </button>
    </li>
    <li class="popular-products-item">
    <div class="popular-products-img-container">
        <img class="img" src="" alt="" width="56" height="56" />
    </div>
    
    <div>
        <h3 class="popular-products-name">Askee</h3>
        <div class="popular-products-description-container">
            <h4 class="popular-products-description">
                Category:
                <span class="category popular-description">Fresh Produce</span>
            </h4>
    
            <h4 class="popular-products-description">
                Size:
                <span class="size popular-description">16 oz</span>
            </h4>
    
            <h4 class="popular-products-description">
                Popularity:
                <span class="popularity popular-description">3</span>
            </h4>
        </div>
    </div>
    <button class="basket-button" type="button">
        <svg class="popular-products-cart-icon" width="12" height="12">
            <use href=""></use>
        </svg>
    </button>
    </li>
    <li class="popular-products-item">
    <div class="popular-products-img-container">
        <img class="img" src="" alt="" width="56" height="56" />
    </div>
    
    <div>
        <h3 class="popular-products-name">Askee</h3>
        <div class="popular-products-description-container">
            <h4 class="popular-products-description">
                Category:
                <span class="category popular-description">Fresh Produce</span>
            </h4>
    
            <h4 class="popular-products-description">
                Size:
                <span class="size popular-description">16 oz</span>
            </h4>
    
            <h4 class="popular-products-description">
                Popularity:
                <span class="popularity popular-description">3</span>
            </h4>
        </div>
    </div>
    <button class="basket-button" type="button">
        <svg class="popular-products-cart-icon" width="12" height="12">
            <use href=""></use>
        </svg>
    </button>
    </li>
  </ul>
</section>
