<section class="popular-products" id="popular-products">
  <h2 class="popular-products-section-title">Popular products</h2>
  <ul class="popular-products-list list">
    <li class="popular-products-item">
      <div class="popular-products-img-container">
        <img
          class="popular-products-img"
          src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3676.png"
          alt=""
          width="56"
          height="56"
        />
      </div>

      <div class="popular-products-description-thumb">
        <h3 class="popular-products-name">Askee</h3>

<svg class="popular-products-discount-icon" width="20" height="20">
    <use href="./img/icons.svg#icon-discount"></use>
</svg>

        <button class="basket-button" type="button">
          <svg class="popular-products-cart-icon" width="12" height="12">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button class="basket-button-icon-check">
          <svg class="popular-products-icon-check" width="12" height="12">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
        <div class="popular-products-description-container">
          <p class="popular-products-description">
            Category:
            <span class="category popular-description">Fresh Produce</span>
          </p>

          <p class="popular-products-description">
            Size:
            <span class="size popular-description">16 oz</span>
          </p>

          <p class="popular-products-description">
            Popularity:
            <span class="popularity popular-description">3</span>
          </p>
        </div>
      </div>
    </li>
    <li class="popular-products-item">
      <div class="popular-products-img-container">
        <img
          class="popular-products-img"
          src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3676.png"
          alt=""
          width="56"
          height="56"
        />
      </div>

      <div class="popular-products-description-thumb">
        <h3 class="popular-products-name">Askee</h3>
        <svg class="popular-products-discount-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-discount"></use>
        </svg>
        <button class="basket-button" type="button">
          <svg class="popular-products-cart-icon" width="12" height="12">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button class="basket-button-icon-check">
          <svg class="popular-products-icon-check" width="12" height="12">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
        <div class="popular-products-description-container">
          <p class="popular-products-description">
            Category:
            <span class="category popular-description">Fresh Produce</span>
          </p>

          <p class="popular-products-description">
            Size:
            <span class="size popular-description">16 oz</span>
          </p>

          <p class="popular-products-description">
            Popularity:
            <span class="popularity popular-description">3</span>
          </p>
        </div>
      </div>
    </li>
    <li class="popular-products-item">
      <div class="popular-products-img-container">
        <img
          class="popular-products-img"
          src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3676.png"
          alt=""
          width="56"
          height="56"
        />
      </div>

      <div class="popular-products-description-thumb">
        <h3 class="popular-products-name">Askee</h3>
        <svg class="popular-products-discount-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-discount"></use>
        </svg>
        <button class="basket-button" type="button">
          <svg class="popular-products-cart-icon" width="12" height="12">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button class="basket-button-icon-check">
          <svg class="popular-products-icon-check" width="12" height="12">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
        <div class="popular-products-description-container">
          <p class="popular-products-description">
            Category:
            <span class="category popular-description">Fresh Produce</span>
          </p>

          <p class="popular-products-description">
            Size:
            <span class="size popular-description">16 oz</span>
          </p>

          <p class="popular-products-description">
            Popularity:
            <span class="popularity popular-description">3</span>
          </p>
        </div>
      </div>
    </li>
    <li class="popular-products-item">
      <div class="popular-products-img-container">
        <img
          class="popular-products-img"
          src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3676.png"
          alt=""
          width="56"
          height="56"
        />
      </div>

      <div class="popular-products-description-thumb">
        <h3 class="popular-products-name">Askee</h3>
        <svg class="popular-products-discount-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-discount"></use>
        </svg>
        <button class="basket-button" type="button">
          <svg class="popular-products-cart-icon" width="12" height="12">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button class="basket-button-icon-check">
          <svg class="popular-products-icon-check" width="12" height="12">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
        <div class="popular-products-description-container">
          <p class="popular-products-description">
            Category:
            <span class="category popular-description">Fresh Produce</span>
          </p>

          <p class="popular-products-description">
            Size:
            <span class="size popular-description">16 oz</span>
          </p>

          <p class="popular-products-description">
            Popularity:
            <span class="popularity popular-description">3</span>
          </p>
        </div>
      </div>
    </li>
    <li class="popular-products-item">
      <div class="popular-products-img-container">
        <img
          class="popular-products-img"
          src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3676.png"
          alt=""
          width="56"
          height="56"
        />
      </div>

      <div class="popular-products-description-thumb">
        <h3 class="popular-products-name">Askee</h3>
        <svg class="popular-products-discount-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-discount"></use>
        </svg>
        <button class="basket-button" type="button">
          <svg class="popular-products-cart-icon" width="12" height="12">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button class="basket-button-icon-check">
          <svg class="popular-products-icon-check" width="12" height="12">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
        <div class="popular-products-description-container">
          <p class="popular-products-description">
            Category:
            <span class="category popular-description">Fresh Produce</span>
          </p>

          <p class="popular-products-description">
            Size:
            <span class="size popular-description">16 oz</span>
          </p>

          <p class="popular-products-description">
            Popularity:
            <span class="popularity popular-description">3</span>
          </p>
        </div>
      </div>
    </li>
  </ul>
</section>
