<section class="all-products" id="all-products">
  <ul class="product-list-product__list">
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="product-list-product__card">
      <svg class="product-list-icon-discount" width="60" height="60">
        <use href="./img/icons.svg#icon-discount"></use>
      </svg>
      <div class="product-list-box__img">
        <img
          class="product-list-card__image"
          src="./img/cart/order-success.png"
          alt="Baby Plum Tomatoes"
          width="140"
          height="140"
        />
      </div>
      <div class="product-list-info__box">
        <h3 class="product-list-name__product">Baby Plum Tomatoes</h3>
        <div class="product-list-info">
          <p class="product-list-info__item">
            <span class="product-list-span__text">Category: </span>
            <span>Fresh Produce</span>
          </p>

          <p class="product-list-info__item">
            <span class="product-list-span__text">Size: </span>
            <span>200 g</span>
          </p>
          <p class="product-list-info__item">
            <span class="product-list-span__text">Popularity: </span>
            <span>0</span>
          </p>
        </div>
      </div>
      <div class="product-list-price__btn">
        <p class="product-list-price__product">$3.99</p>
        <button type="submit" class="product-list-button__card">
          <svg class="product-list-icon__btn" width="18" height="18">
            <use href="./img/icons.svg#icon-shopping-cart"></use>
          </svg>
        </button>
        <button type="submit" class="product-list-button__card-added">
          <svg class="product-list-icon__btn-added" width="18" height="18">
            <use href="./img/icons.svg#icon-check"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
  <div class="product-list-pagination">
    <ul class="product-list-pagination__list">
      <li class="product-list-page__item nav__btn">
        <svg class="icon__arrow" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-left"></use>
        </svg>
      </li>
      <div class="product-list-page__numbers">
        <li class="product-list-page__item">1</li>
        <li class="product-list-page__item active">2</li>
        <li class="product-list-page__item">...</li>
        <li class="product-list-page__item">7</li>
        <li class="product-list-page__item">8</li>
      </div>
      <li class="product-list-page__item nav__btn">
        <svg class="icon__arrow" width="24" height="24">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
