<section class="cart" id="cart">
  <div class="container">
    <div class="cart-title-thumb">
      <button class="cart-shopping-button" type="button">
        <svg class="cart-shopping-icon" width="18" height="18">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
      <h2 class="cart-title">
        Cart
        <span>(3)</span>
      </h2>

   
    </div>
      <button class="cart-delete-button" type="button">Delete all
        <svg class="cart-delete-icon" width="24" height="24">
          <use href="./img/icons.svg#icon-x-close"></use>
        </svg>
      </button>

      <div class="cart-thumb">
        <div class="image-cart-thumb">
<img src="https://ftp.goit.study/img/so-yummy/ingredients/640c2dd963a319ea671e3676.png" alt="" width="64">
        </div>
      <div class="cart-description-thumb">
        <h3 class="cart-product-name">Avocado</h3>
      
       
        
        <div class="cart-text-description-container">
          <p class="cart-product-description">
            Category:
            <span class="category category-description">Fresh Produce</span>
          </p>
      
          <p class="cart-product-description">
            Size:
            <span class="size size-description">Each</span>
          </p>
      
         
        </div>

      </div>
  </div>
</section>
