<section class="cart" id="cart">
  <div class="container">
    <div class="cart-title-thumb">
      <button
        class="cart-shopping-button"
        type="button"
        aria-label="button cart shop"
      >
        <svg class="cart-shopping-icon" width="18" height="18">
          <use href="./img/icons.svg#icon-shopping-cart"></use>
        </svg>
      </button>
      <h2 class="cart-title">Cart (<span class="cart-item-count">0</span>)</h2>
    </div>

    <div class="cart-desctop-thumb">
      <div class="cart-added-list">
        <button
          class="cart-delete-button"
          type="button"
          aria-label="cart delete button"
        >
          Delete all
          <svg class="cart-delete-icon" width="24" height="24">
            <use href="./img/icons.svg#icon-x-close"></use>
          </svg>
        </button>
        <ul class="cart-basket-list"></ul>
      </div>

      <div class="total-order-thumb">
        <p class="your-order-title">Your Order</p>
        <div class="total-price-thumb">
          <p class="cart-total-title">Total</p>
          <p class="cart-sum">
            Sum:
            <span class="total-price" id="cart-total">$0.00</span>
          </p>
        </div>

        <form class="checkout-field">
          <label for="cart-client-email" class="cart-input-label">
            <span class="placeholder-prefix">Mail:</span>
            <input
              type="email"
              pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,4}$"
              name="cart-client-email"
              class="cart-basket-input"
              id="cart-client-email"
              placeholder="Enter your email"
              required
            />
          </label>

          <button
            type="submit"
            class="cart-submit-button"
            aria-label="Checkout cart"
          >
            Checkout
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
