<div class="success-blackdrop">
  <div class="success-modal">
    <button type="button" class="success-modal-close-btn">
      <svg class="success-modal-close-btn-icon">
        <use href="./img/icons.svg#icon-x-close"></use>
      </svg>
    </button>
    <div>

    <img
    class="success-modal-image"
      src="./img/cart/order-success.png"
      alt="Picture Success"
      width="140"
      height="140"
      srcset="
        ./img/cart/order-success.png    1x,
        ./img/cart/order-success-2x.png 2x
      "
    />
        <img
    class="success-modal-shadow"
      src="./img/cart/elipse.png"
      alt="Picture-shadow Success"
      width="140"
      height="140"
      srcset="
        ./img/cart/elipse.png    1x,
        ./img/cart/elipse-2x.png 2x
      "
    />
</div>
    <h3 class="success-modal-title">Order success</h3>
    <p class="success-modal-text">
      Thank you for shopping at Food Boutique. Your order has been received and
      is now being freshly prepared just for you! Get ready to indulge in
      nourishing goodness, delivered right to your doorstep. We're thrilled to
      be part of your journey to better health and happiness.
    </p>
  </div>
</div>
