/*? -------------------------- Cart Page -------------------------- */
.cart {
  margin-top: 67px;
  margin-bottom: 14px;
}

.cart-title-thumb {
  display: flex;
  align-items: center;
  gap: 14px;
}

.cart-shopping-button {
  width: 38px;
  height: 38px;
  background-color: var(--color-light-green);
  border-radius: 50px;
  cursor: pointer;
  padding: 10px;
}

.cart-shopping-icon {
  fill: var(--color-light-grey);
}

.cart-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
}

.cart-delete-button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  margin-left: auto;
  margin-bottom: 10px;
  margin-right: 14px;
}

.basket-list-wrapper {
  max-height: 480px;
  overflow-y: auto;
}

.cart-added-list {
  position: relative;
}

.basket-list-wrapper::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.basket-list-wrapper::after {
  content: '';
  position: absolute;
  top: var(--scroll-top, 0);
  right: 0;
  z-index: 1;
  pointer-events: none;
  width: 5px;
  height: 117px;
  border-radius: 20px;
  background: rgba(1, 1, 1, 0.08);
  box-sizing: inherit;
}

.image-cart-thumb {
  padding: 18px;
  width: 100px;
  height: 100px;
  background-color: var(--color-white);
  border-radius: 10px;
  margin-right: 20px;
}

.cart-basket-item {
  display: flex;

  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 335px;
}

.cart-added-list {
  width: 349px;
}

.cart-basket-item:not(:last-child) {
  border-bottom: 1px solid rgba(1, 1, 1, 0.1);
}

.cart-product-delete-button {
  position: absolute;
  right: 7px;
  transform: translateY(-50%);
}

.cart-text-description-container {
  display: flex;
  gap: 8px;
}

.cart-description-thumb {
  display: flex;
  flex-direction: column;
}

.cart-price {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.12;
}

.cart-product-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 10px;
}

.cart-product-description {
  line-height: 1.17;
  color: var(--black-transperent-meduim-color);
  display: flex;
  gap: 4px;
}

.cart-description {
  color: var(--color-black);
}

.size.cart-description {
  margin-bottom: 36px;
}

.total-order-thumb {
  margin-top: 50px;
}

.your-order-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.total-price-thumb {
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  padding-bottom: 14px;
  margin-bottom: 30px;
}

.cart-total-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}

.cart-sum {
  line-height: 1.17;
  color: var(--black-transperent-meduim-color);
}

.total-price {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  margin-left: 8px;
}

.placeholder-prefix {
  position: absolute;
  left: 20px;
  top: 12px;
  margin-right: 8px;
  font-size: 14px;
  line-height: 1.29;
  color: rgba(1, 1, 1, 0.5);
}

.checkout-field {
  position: relative;
}

.cart-basket-input {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  padding-left: 50px;

  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  margin-bottom: 14px;
  width: 100%;
  height: 42px;
  background-color: var(--color-light-grey);
}

.cart-basket-input:is(:hover, :focus) {
  border: 1px solid var(--color-light-green);
}

.cart-basket-input::placeholder {
  font-size: 14px;
  line-height: 1.29;
  color: var(--color-black);
  font-weight: 400;
}

.checkout-field input:focus::placeholder {
  opacity: 0;
}

.cart-submit-button {
  padding: 12px 0;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--color-light-green);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: var(--color-light-grey);
  width: 100%;
}

.cart-submit-button:hover,
.cart-submit-button:focus {
  background-color: var(--color-dark-green);
  transition-duration: var(--transition-time);
  transition-timing-function: var(--transition-function);
}

.checkout-field {
  margin-bottom: 80px;
}

/***** min-width: 768px *****/

@media screen and (min-width: 768px) {
  .cart {
    margin-top: 94px;
    margin-bottom: 24px;
  }

  .cart-title-thumb {
    gap: 14px;
  }

  .cart-shopping-button {
    width: 42px;
    height: 42px;
    padding: 12px;
  }

  .cart-image {
    width: 72px;
  }

  .cart-title {
    font-size: 32px;
    line-height: 1;
  }

  .cart-delete-button {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
    margin-right: 39px;
    margin-left: auto;
  }

  .cart-product-delete-button {
    right: 0;
  }

  .image-cart-thumb {
    padding: 24px;
    width: 120px;
    height: 120px;
    margin-right: 40px;
  }

  .cart-basket-item {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    width: 672px;
  }

  .cart-added-list {
    width: 711px;
  }

  .cart-delete-icon {
    width: 24px;
    height: 24px;
  }

  .cart-delete-product-icon {
    width: 20px;
    height: 20px;
  }

  .cart-text-description-container {
    gap: 16px;
  }

  .cart-product-description {
    display: flex;
    align-items: baseline;
  }

  .cart-price {
    font-size: 20px;
    line-height: 1.2;
  }

  .cart-product-name {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 12px;
  }

  .cart-description {
    color: var(--color-black);
    font-size: 14px;
    line-height: 1.29;
  }

  .size.cart-description {
    margin-bottom: 46px;
  }

  .basket-list-wrapper {
    max-height: 600px;
  }

  .total-order-thumb {
    margin-top: 60px;
  }

  .your-order-title {
    font-size: 32px;
    line-height: 1;
  }

  .total-price-thumb {
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 14px;
    margin-bottom: 40px;
    width: 590px;
  }

  .cart-total-title {
    font-size: 20px;
    line-height: 1.2;
  }

  .total-price {
    font-size: 32px;
    line-height: 1;
  }

  .cart-basket-input {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 60px;
    margin-bottom: 0;
    width: 359px;
    font-size: 18px;
    line-height: 1.33;
    height: 54px;
  }

  .placeholder-prefix {
    top: 15px;
    font-size: 18px;
    line-height: 1.33;
    color: rgba(1, 1, 1, 0.5);
  }

  .checkout-field {
    display: flex;
    gap: 16px;
    margin-bottom: 100px;
  }

  .cart-basket-input::placeholder {
    font-size: 18px;
    line-height: 1.33;
  }

  .cart-submit-button {
    padding: 15px 65px;
    font-size: 20px;
    line-height: 1.2;
    max-width: 215px;
  }
}

/***** min-width: 1440px *****/

@media screen and (min-width: 1440px) {
  .cart {
    margin-top: 76px;
    margin-bottom: 60px;
  }

  .cart-delete-button {
    margin-bottom: 4px;
    margin-right: 40px;
  }

  .cart-image {
    width: 72px;
    height: 72px;
  }

  .cart-desctop-thumb {
    display: flex;
    justify-content: space-between;
  }

  .total-order-thumb {
    margin-top: 73px;
  }

  .cart-added-list {
    width: 540px;
  }

  .cart-basket-item {
    width: 500px;
  }
}
