/*? -------------------------- Footer -------------------------- */
.footer {
  background-color: var(--color-light-green);
  padding: 0;
}
.footer-container {
  padding-bottom: 20px;
}
.footer-icon {
  height: 28px;
  width: 154px;
  margin-bottom: 20px;
}

.footer-logo-text {
  color: var(--color-light-grey);
  font-size: 18px;
  font-weight: 900;
  line-height: 20px;
  letter-spacing: -0.36px;
}
.social-list {
  display: flex;
  gap: 12px;
  margin-bottom: 40px;
}
.social-list-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid var(--white-transperent-medium-color);
}
.social-list-icon {
  height: 24px;
  width: 24px;
  fill: var(--color-light-grey);
}
.footer-text {
  color: var(--color-light-grey);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.footer-tagline {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.48px;
  margin-bottom: 14px;
}

.footer-section-description:last-child {
  color: rgba(232, 232, 226, 0.7);
  margin-bottom: 80px;
}
.footer-subscribe {
  margin-bottom: 20px;
}
.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 80px;
}
.subscribe-form-input {
  background-color: transparent;
  width: 335px;
  height: 42px;
  border-radius: 30px;
  border: 1px solid var(--color-light-grey);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
}
.subscribe-form-input::placeholder {
  color: var(--white-transperent-max-color);
}
.footer-subscribe-btn {
  background-color: var(--color-light-grey);
  width: 335px;
  height: 42px;
  border-radius: 30px;
  color: var(--color-black);
  font-weight: 500;
}
.footer-bottom-text {
  margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 768px;
    padding-top: 44px;
  }
  .footer-tablet {
    display: flex;
    flex-direction: row;
    gap: 78px;
  }
  .footer-icon {
    height: 32px;
    width: 197px;
    margin-bottom: 24px;
  }
  .social-list-link {
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
  }
  .social-list-icon {
    height: 28px;
    width: 28px;
  }
  .footer-text {
    font-size: 18px;
    line-height: 24px;
  }

  .footer-tagline {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
  }
  .footer-section-description:last-child {
    margin-bottom: 64px;
  }
  .footer-subscribe-form {
    gap: 20px;
    margin-bottom: 120px;
  }
  .subscribe-form-input {
    width: 336px;
    height: 48px;
  }
  .subscribe-form-input::placeholder {
    font-size: 16px;
  }
  .footer-subscribe-btn {
    width: 336px;
    height: 48px;
  }

  .footer-tablet-botton-text {
    display: flex;
    gap: 297px;
  }
  .footer-bottom-text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1440px) {
  .footer {
    width: 1440px;
    padding-top: 40px;
  }
  .footer-laptop-section {
    display: flex;
    flex-direction: row;
    gap: 148px;
  }

  .footer-tablet {
    gap: 149px;
  }

  .footer-tablet-botton-text {
    display: flex;
    gap: 833px;
  }
}
