/*? -------------------------- Products List -------------------------- */
.product-list-product__list {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 32px;
  margin-bottom: 40px;
}

.product-list-icon-discount {
  position: absolute;
  top: 3px;
  right: 10px;
}

.product-list-product__card {
  position: relative;
  width: 100%;
  max-width: 335px;
  height: 356px;
  border-radius: 20px;
  padding: 20px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition-timing-function: var(--transition-function);
  transition-property: transform, box-shadow;
  transition-duration: var(--transition-time);
}

.product-list-product__card:hover {
  transform: scale(1.03);
  box-shadow: 0px 9.1px 16.53437px 0px rgba(0, 0, 0, 0.02),
    0px 41.6px 46.475px 0px rgba(0, 0, 0, 0.04),
    0px 105.3px 124.67812px 0px rgba(0, 0, 0, 0.05),
    0px 208px 286px 0px rgba(0, 0, 0, 0.07);
}

.product-list-box__card {
  padding: 20px;
}

.product-list-box__img {
  max-width: 295px;
  height: 178px;
  border-radius: 10px;
  background: var(--color-light-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list-name__product {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.product-list-info {
  height: 24px;
  display: flex;
  gap: 9px;
  margin-top: 10px;
}

.product-list-info__box {
  margin-bottom: 40px;
  margin-top: 20px;
}

.product-list-span__text {
  padding-right: 4px;
  color: var(--black-transperent-meduim-color);
}

.product-list-price__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-list-price__product {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}

.product-list-button__card,
.product-list-button__card-added {
  border-radius: 30px;
  background: var(--color-light-green);
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color var(--transition-time) var(--transition-function);
}

.product-list-icon__btn-added {
  display: none;
}

.product-list-button__card:is(:hover, :focus),
.product-list-button__card-added:is(:hover, :focus) {
  background-color: var(--color-dark-green);
}

.product-list-icon__btn {
  fill: var(--color-light-grey);
}

.product-list-icon__btn-added {
  stroke: var(--color-light-grey);
  fill: transparent;
}

/*?-----------------------------------Pagination------------------*/

.product-list-pagination__list {
  margin: 0 auto;
  max-width: 334px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-list-page__item {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  color: var(--color-grey);
  transition: background-color var(--transition-time) var(--transition-function);
}

.product-list-page__item.not-number {
  cursor: default;
}

.product-list-page__item[disabled] {
  cursor: not-allowed;
}

.product-list-page__item.active {
  color: var(--color-light-grey);
  background-color: var(--color-dark-green);
}

.product-list-page__item:not(.not-number, [disabled]):is(:hover, :focus, :active) {
  color: var(--color-white);
  background-color: var(--color-dark-green);
}

.product-list-page__numbers {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}

.nav__btn {
  border-radius: 60px;
  background: #fafafa;
}

.icon__arrow {
  fill: transparent;
  stroke: var(--color-grey);
  transition: stroke var(--transition-time) var(--transition-function);
}

.product-list-page__item:not([disabled]) .icon__arrow:is(:hover, :focus, :active) {
  stroke: var(--color-white);
}

/*?-----------------------------------Text-Box------------------*/

.product-list__text__box {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  max-width: 277px;
  margin: 0 auto;
  padding: 60px 0 100px;
}

.product-list__text__one {
  text-align: center;
  max-width: 261px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
}

.text__one__span {
  color: var(--color-light-green);
}

.product-list__text__two {
  color: var(--black-transperent-max-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
}

.is-hidden {
  display: none;
}

/*? --------------------------Media-------------------------- */
/* Tablet */
@media screen and (min-width: 768px) {
  .product-list-product__list {
    row-gap: 32px;
    column-gap: 32px;
    flex-direction: row;
    margin-bottom: 50px;
  }

  .product-list-product__card {
    height: 360px;
    width: calc((100% - 32px) / 2);
    max-width: 100%;
  }

  .product-list-price__product,
  .product-list-name__product {
    font-size: 20px;
    line-height: 1.2;
  }

  .product-list-box__img {
    max-width: 296px;
  }

  /*?-----------------------------------Pagination------------------*/
  .product-list-pagination__list {
    max-width: 472px;
  }

  .product-list-page__numbers {
    gap: 8px;
  }

  /*?-----------------------------------Text-Box------------------*/
  .product-list__text__box {
    padding: 110px 0 230px;
    max-width: 371px;
  }

  .product-list__text__one {
    max-width: 367px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .product-list__text__two {
    font-size: 18px;
    line-height: 1.2;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .all-products {
    flex-grow: 1;
    max-width: 925px;
    margin: 0 auto;
  }

  .product-list-product__list {
    row-gap: 40px;
    column-gap: 20px;
    margin-bottom: 40px;
  }

  .product-list-box__img {
    width: 255px;
    height: 178px;
  }

  .product-list-product__card {
    width: calc((100% - 40px) / 3);
    height: 363px;
    border-radius: 20px;
    background: var(--color-white);
  }

  .product-list-info__box {
    margin-bottom: 20px;
  }

  .product-list-info {
    flex-wrap: wrap;
    max-width: 240px;
  }
}