/*? -------------------------- Products List -------------------------- */
.all-products {
  padding-top: 20px;
}
.product-list-product__list {
  display: flex;
  cursor: pointer;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 32px;
  margin-bottom: 40px;
}

.product-list-icon-discount {
  position: absolute;
  top: -4px;
  right: 10px;
  /* transform: translate(-50%, -50%); */
}
.product-list-product__card {
  position: relative;
  width: 100%;
  max-width: 335px;
  height: 356px;
  border-radius: 20px;
  padding: 20px;
  background: var(--color-white);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: transform var(--transition-time) var(--transition-function);
}
.product-list-product__card:hover {
  transform: scale(1.03);
}

.product-list-box__card {
  padding: 20px;
}
.product-list-box__img {
  max-width: 295px;
  height: 178px;
  border-radius: 10px;
  background: var(--color-light-grey);
}
.product-list-card__image {
  padding-top: 19px;
  margin: 0 auto;
}
.product-list-name__product {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1; /* 111.111% */
}
.product-list-info {
  display: flex;
  gap: 9px;
  margin-top: 10px;
}
.product-list-info__box {
  margin-bottom: 40px;
  /* margin-left: 20px; */
  margin-top: 20px;
}
.product-list-info__item {
}
.product-list-span__text {
  padding-right: 4px;
  color: var(--black-transperent-meduim-color);
}
.product-list-price__btn {
  /* padding-left: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 218px; */
}
.product-list-price__product {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.1;
}
.product-list-button__card {
  border-radius: 30px;
  background: var(--color-light-green);
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: background-color var(--transition-time) var(--transition-function);
}
.product-list-button__card:is(:hover, :focus) {
  background-color: var(--color-dark-green);
}
.product-list-icon__btn {
  fill: var(--color-light-grey);
}

/*?-----------------------------------Pagination------------------*/

.product-list-pagination__list {
  margin: 0 auto;
  display: flex;
  max-width: 334px;
  align-items: center;
  gap: 19px;
}
.product-list-page__item {
  /* display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color var(--transition-time) var(--transition-function); */
}
.product-list-page__item {
  cursor: pointer;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  color: var(--color-grey);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  transition: background-color var(--transition-time) var(--transition-function);
}
.active {
  color: var(--color-light-grey);
  background-color: var(--color-dark-green);
}

.product-list-page__item:is(:hover, :focus, :active) {
  color: var(--color-white);
  background-color: var(--color-dark-green);
}
.product-list-page__numbers {
  display: flex;
  align-items: flex-start;
  gap: 4px;
}
.nav__btn {
  display: flex;
  gap: 4px;
  border-radius: 60px;
  background: #fafafa;
}
.icon__arrow {
  fill: var(--color-grey);
}
.icon__arrow:is(:hover, :focus, :active) {
  fill: var(--color-white);
}

/*? --------------------------Media-------------------------- */
/* Tablet */
@media screen and (min-width: 768px) {
  .product-list-product__list {
    row-gap: 32px;
    column-gap: 32px;
    flex-direction: row;
  }
  .product-list-product__card {
    height: 360px;
    width: calc((100% - 32px) / 2);
  }

  .product-list-pagination__list {
    display: flex;
    max-width: 472px;
    justify-content: space-between;
    align-items: center;
  }
  .product-list-page__numbers {
    gap: 8px;
  }
  .product-list-price__product,
  .product-list-name__product {
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .all-products {
    max-width: 925px;
  }
  .product-list-product__list {
    row-gap: 40px;
    column-gap: 20px;
  }

  .product-list-box__img {
    width: 255px;
    height: 178px;
  }
  .product-list-product__card {
    width: calc((100% - 40px) / 3);
    height: 363px;
    border-radius: 20px;
    background: var(--color-white);
  }
  .product-list-info__box {
    margin-bottom: 20px;
  }
  .product-list-info {
    flex-wrap: wrap;
  }
}
