<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-tablet">
      <div>
        <a
          ><svg class="footer-icon">
            <use href="../img/icons.svg#icon-logo-footer"></use>
          </svg>
        </a>

        <ul class="social-list">
          <li>
            <a class="social-list-link"
              ><svg class="social-list-icon">
                <use href="../img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-list-link"
              ><svg class="social-list-icon">
                <use href="../img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="social-list-link"
              ><svg class="social-list-icon">
                <use href="../img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-laptop-section">
        <div>
          <h3 class="footer-text footer-tagline">
            Discover the Variety of Flavors and Quality
          </h3>

          <p class="footer-text footer-section-description">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
          
        </div>
        <div>
          <p class="footer-text footer-subscribe">
            Subscribe and learn about new products!
          </p>

          <div class="footer-subscribe-form">
            <label>
              <input
                class="footer-text subscribe-form-input"
                type="email"
                name="user_email"
                placeholder="Email"
                autofocus
                required
              />
            </label>
            <span>
              <button type="submit" class="footer-text footer-subscribe-btn">
                Send
              </button></span
            >
          </div>
        </div>
      </div>
    </div>

    <div class="footer-tablet-botton-text">
      <p class="footer-text footer-bottom-text">
        Food Boutique. All rights reserved.
      </p>
      <div>
        <a href="index.html" class="footer-text footer-bottom-text"
          >Privacy Policy</a
        >
        <span class="footer-text footer-bottom-text">/</span>
        <a href="index.html" class="footer-text footer-bottom-text"
          >Terms of Service</a
        >
      </div>
    </div>
  </div>
</footer>
