<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-tablet">
      <div>
        <a href="index.html"
          ><svg class="footer-icon">
            <use href="./img/icons.svg#icon-logo-footer"></use>
          </svg>
        </a>

        <ul class="social-list">
          <li>
            <a href="index.html" class="social-list-link"
              ><svg class="social-list-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="index.html" class="social-list-link"
              ><svg class="social-list-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="index.html" class="social-list-link"
              ><svg class="social-list-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-laptop-section">
        <div>
          <h3 class="footer-tagline">
            Discover the Variety of Flavors and Quality
          </h3>

          <p class="footer-section-description">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>
        <div>
          <p class="footer-subscribe">
            Subscribe and learn about new products!
          </p>

          <form class="footer-subscribe-form">
            <label>
              <input
                class="subscribe-form-input"
                type="email"
                name="user_email"
                placeholder="Email"
                autofocus
              />
            </label>

            <button type="submit" class="footer-subscribe-btn">Send</button>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-tablet-bottom-text">
      <p class="footer-bottom-text">Food Boutique. All rights reserved.</p>
      <div class="footer-bottom-links">
        <a href="index.html" class="footer-bottom-link">Privacy Policy</a>
        <span class="footer-bottom-link">/</span>
        <a href="index.html" class="footer-bottom-link">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
