<header class="header" id="header">
  <div class="container">
    <nav class="header-navigation">
      <a class="header-logo" href="./index.html" aria-label="Home website">
        <svg class="header-logo" width="154" height="28">
          <use href="./img/icons.svg#icon-logo-header"></use>
        </svg>
      </a>
      <ul class="header-list">
        <li>
          <a class="home-button" href="./index.html" aria-label="Home">Home</a>
        </li>
        <li>
          <a
            aria-label="Basket"
            class="cart-button-container"
            href="./cart.html"
          >
            <div class="cart-button">
              <svg class="cart-icon" width="14" height="14">
                <use href="./img/icons.svg#icon-shopping-cart"></use>
              </svg>

              <div class="mobile-cart-text">
                <span class="cart-item-count">0</span>
              </div>
            </div>

            <span class="cart-text">
              CART (<span class="cart-item-count">0</span>)
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
