:root {
    /*? Fonts */
    --font-main: 'Neue Montreal', sans-serif;

    /*? Colors */
    --color-light-grey: #E8E8E2;
    --color-black: #010101;
    --color-white: #FAFAFA;
    --color-light-green: #6D8434;
    --color-grey: #A3A3A3;
    --color-dark-green: #586F1F;

    /*? Container device width options */
    --mobile-container-width: 335px;
    --tablet-container-width: 704px;
    --desktop-container-width: 1240px;

    /*? Container configurations */
    --container-width: var(--mobile-container-width);
    --container-side-padding: 15px;
    --container-max-width: calc(var(--container-width) + var(--container-side-padding) * 2);

    /*? Transition */
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}